body{
    font-family:'Raleway', 'Open-Sens' ;
    background-color: hsl(218, 28%, 13%);
}
.navigation nav{
    background-color: hsl(218, 28%, 13%);
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    margin-top: 40px;
    font-size: 15px;
    color: white;
    margin-bottom: 80px;
}
 nav a{
    text-decoration: none;
     color: white;
}
nav div{
    margin-left: 90px;
}
nav>div:nth-of-type(3){
    margin-right: 60px;
}
.intro{
    background-color: hsl(218, 28%, 13%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.intro img{
    width: 700px;
    height: auto;
}
.intro-text{
    text-align: center;
    width: 70%;
    color: white;
    margin-bottom: 100px;
}
.intro-text>div:nth-of-type(1){
    font-size: 30px;
    font-weight: 700;
    font: bold;
}
.intro-text>div:nth-of-type(2){
    text-align: center;
    font-size: 15px;
    margin-top: 40px;
}
.intro-text p{
    margin-bottom: 0;
    white-space: nowrap;
}
button{
    color: white;
    background-color: hsl(176, 68%, 64%);
    width: 25%;
    height: 60px;
    border-radius: 40px;
    border: none;
    font-size: 17px;
    font-weight: 700;
    font: bold;
}
.intro-text button{
    margin-top: 30px;
}
.panel{
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    color: white;
    font-size: 14px;

    margin-top: 50px;
}
.panel-desc{
    font-size: 14px;
}
.panel-desc p {
    margin-bottom: 0;
    margin-top: 0;
    white-space: nowrap;
}
.panel-head{
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 30px;
}
.storage{
    margin-top: 100px;
}
.panel img{
   width: auto;
}
.productivity{
    display: flex;
    margin-top: 150px;
    margin-bottom: 150px;
    color: white;
    margin-left: 50px;
}
.productivity img{
    width: 160%;
    height: 110%;
    margin-top: 0;
    margin-left: 50px;
}
.productivity-text{
    display: flex;
    flex-direction: column;
    margin-top: 160px;
    margin-left: 350px;
    margin-right: 100px;
    padding-right: 20px;
    padding-left: 20px;
   
}
.productivity-head{
    font-size: 40px;
    font-weight: 700;
}
.productivity-head p{
    font-size: 40px;
    margin: 0;
    font-weight: 700;
}
.productivity-text div:nth-of-type(2){
    margin-top: 20px;
    font-size: 15px;
}
.productivity-text div:nth-of-type(3){
    margin-top: 20px;
    font-size: 15px;
}
a{
    text-decoration: none;
    color: hsl(176, 68%, 64%);
}
.productivity-undertext{
    margin-top: 20px;
    font-size: 15px;
}
.productivity-undertext img{
    width: auto;
    margin-bottom: -5px;
}
.fylo-panel{
    display: flex;
    flex-direction: row;
    background-color: hsl(218, 28%, 13%);
    color:white;
}
.fylo1{
    padding-top: 40px;
    padding-bottom: 30px;
    padding-right: 20px;
    padding-left: 30px;
    background-color: hsl(219, 30%, 18%);
    border-radius: 5px;
    margin-left: 40px;
}
.quotes img{
    width: auto;
    margin-left: 30px;
    margin-bottom: -15px; 
}
.desc-photo{
    margin-top: 15px;
    font-size: 11px;
}
.desc-photo img{
    width: 35px;
    height: 35px;
    border-radius: 50px;
}
.desc{
    margin-top: -35px;
    margin-left: 50px;
    font-size: 10px;
}
.fylo1>div{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    font-size: 14px;
    padding-right: 20px;
}
.early-access-main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: -150px;
}
.early-access-main>div{
    width: 20%;
}
.early-access{
    background-color: hsl(217, 28%, 15%);
    flex-grow: 3;
    padding: 40px;
    border-radius: 10px;
    margin-top: 200px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.1);

}
.early-access-main button{
    color: white;
    background-color: hsl(176, 68%, 64%);
    width: 30%;
    height: 50px;
    border-radius: 40px;
    border: none;
    font-size: 15px;
    font-weight: 700;
    font: bold;
    text-align: center;
    margin-left: 10px;
}
.early-access div:nth-of-type(1){
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    font: bold;
}
.early-access div:nth-of-type(2){
    color: white;
    text-align: center;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}
::placeholder{
    padding-left: 10px;
}
input{
   color: black;
   background-color: white;
   width: 65%;
   height: 50px;
   border-radius: 40px;
   border: none;
   font-size: 15px;
   font-weight: 700;
   font: bold;
   text-align: start;
   flex-wrap: wrap;
}
.input-button{
    display: flex;
    flex-direction: row;
    justify-items: center;
    margin-top: 30px;
}

.footer{
    background-color: hsl(216, 53%, 9%);
    padding-top: 250px;
    padding-bottom: 40px ;
    color: white;
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
ul img{
    width: 15px;
    margin-right: 20px;
 }
 ul{
    list-style-type: none;
 }
.logo img{
    width: 100px;
    margin-bottom: -200px;
    margin-left: 40px;
}
i:hover{
    color: hsl(176, 68%, 64%);
}
footer div:nth-of-type(2){
    width: 20%;
    height: 140px;
    margin-bottom: 20px;
}
footer div:nth-of-type(1){
    width: 25%;
}
.lorem img{
    width: 10px;
    margin-bottom: -21px;
    margin-left: -31px;
}
li{
    margin-bottom: 20px;
}
.footer a{
    color: white;
}
.icons li{
    display: inline;
    padding: 10px;
}
